@charset "UTF-8";
/**
Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Убираем внутренние отступы слева тегам списков,
у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
Убираем внешние отступы body и двум другим тегам,
у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
Убираем внешние отступы вертикали нужным тегам,
у которых есть атрибут class
*/
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter 24pt";
  src: url("InterMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("InterRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("InterSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("InterBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("InterLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("InterExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFF;
  --color-dark: #1D2026;
  --color-primary-strong: #FF6636;
  --color-primary-light: #FFEEE8;
  --color-gray-strong: #4E5566;
  --color-gray-medium: #8C94A3;
  --color-gray-light: #F5F7FA;
  --font-family-base: "Inter", sans-serif;
  --container-width: 82.5rem;
  --conainer-padding-x: 1rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  font-family: var(--font-family-base);
  letter-spacing: -0.01em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

h1, .h1, .dispaly02 {
  font-size: clamp(2rem, 1.362745098rem + 2.614379085vw, 4.5rem);
  line-height: 1.03;
  letter-spacing: -0.02em;
}

h2, .h2 {
  font-size: clamp(1.5625rem, 1.3235294118rem + 0.9803921569vw, 2.5rem);
  line-height: 1.2;
}

h3, .h3, .heading03 {
  font-size: clamp(1.25rem, 1.0588235294rem + 0.7843137255vw, 2rem);
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.01em;
}

.heading02 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.01em;
}

h4, .h4, .heading04 {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  line-height: 1.33;
}

.bodyLarge400 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.bodyLarge500 {
  font-weight: 500;
  font-size: clamp(0.875rem, 0.8431372549rem + 0.1307189542vw, 1rem);
  line-height: 137%;
  color: #000;
}

.bodyMedium400 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 157%;
  letter-spacing: -0.01em;
  color: #000;
}

.bodyMedium500 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 143%;
  letter-spacing: -0.01em;
}

.bodyTiny400 {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 100%;
}

.bodyTiny500 {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 120%;
}

.bodyLarge600 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 137%;
}

.bodyXL {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.buttonMedium {
  font-weight: 600;
  font-size: 1rem;
  line-height: 300%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-primary-strong);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-primary-strong);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light);
  background-color: var(--color-primary-strong);
  border: none;
  float: left;
  z-index: 20;
  margin-right: 1.25rem;
  margin-left: 0.625rem;
}
.burger-button.is-active {
  position: fixed;
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.3em -0.15em;
  transition-delay: 0.1s;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: end;
}

.buttonStrong {
  font-weight: 600;
  border: none;
  background-color: var(--color-primary-strong);
  color: var(--color-light);
}

.buttonStrong:hover {
  background-color: #CC522B;
  box-shadow: 0 6px 20px 0 rgba(204, 82, 43, 0.5);
}

.buttonLight {
  background-color: var(--color-primary-light);
  font-weight: 600;
  border: none;
  color: var(--color-primary-strong);
}

.buttonLight:hover {
  background-color: #FFDDD1;
}

.header__links {
  background-color: var(--color-dark);
  z-index: 20;
}
@media (width > 47.99875rem) {
  .header__links .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__links .header__overlay {
    position: fixed;
    inset: 0 60% 0 0;
    padding: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.75rem;
    row-gap: 3rem;
    background-color: var(--color-dark);
    transition-delay: var(--transition-duration);
  }
  .header__links .header__overlay .header__menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__links .header__overlay .header__menu .header__menu-list {
    align-items: flex-start;
    flex-direction: column;
  }
  .header__links .header__overlay .header__menu .header__menu-list .header__menu-item {
    padding-block: 0rem;
  }
  .header__links .header__overlay .header__menu .header__menu-dropdowns {
    align-self: flex-start;
    margin-left: 0.8125rem;
    margin-top: 0.9375rem;
  }
  .header__links .header__overlay .header__menu .header__menu-dropdowns .header__menu-option {
    margin-bottom: 1.25rem;
  }
  .header__links .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__links .header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-inline: 2rem;
  align-items: center;
}
.header__links .header__menu-list {
  display: flex;
}
.header__links .header__menu-item {
  padding-inline: 1.25rem;
  display: inline-block;
}
.header__links .header__menu-link {
  padding-block: 1rem;
  letter-spacing: -0.01em;
  line-height: 143%;
  color: var(--color-gray-medium);
  transition-delay: var(--transition-duration);
}
.header__links .header__menu-link--current {
  border-top: 0.125rem solid var(--color-primary-strong);
  color: var(--color-light);
}
.header__links .header__menu-link:hover {
  color: var(--color-light);
}
.header__links .header__menu-dropdowns .header__menu-option {
  background-color: inherit;
  border: none;
  outline: 0;
  color: var(--color-gray-medium);
}
.header__links .header__menu-dropdowns .header__menu-option option {
  color: var(--color-gray-strong);
  font-weight: 400;
  line-height: 157%;
  letter-spacing: -0.01em;
}
.header__links .header__menu-dropdowns .header__menu-option:first-child {
  margin-inline-end: 1.5rem;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 2rem;
  margin-block: 1.5rem;
}
@media (width <= 47.99875rem) {
  .header__body {
    margin-block: 0.625rem;
  }
}
.header__body-left {
  display: flex;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
}
@media (width <= 47.99875rem) {
  .header__body-left {
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
  }
}
@media (width <= 30.06125rem) {
  .header__body-left {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.header__body-left .header__input {
  width: 26.5rem;
  height: 3rem;
  padding-left: 2.625rem;
  border: 1px solid #E9EAF0;
}
@media (width <= 47.99875rem) {
  .header__body-left .header__input {
    height: 2.125rem;
    width: 24rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body-left .header__input {
    display: none;
  }
}
.header__body-left .header__input:hover {
  border: 3px solid #ffddd1;
}
.header__body-left .header__img-inner {
  position: relative;
  right: 66%;
}
@media (width <= 47.99875rem) {
  .header__body-left .header__img-inner {
    width: 1.25rem;
    height: 1.25rem;
    top: 0.4375rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body-left .header__img-inner {
    display: none;
  }
}
.header__body-right {
  display: flex;
  justify-content: space-between;
  width: 26.5rem;
}
@media (width <= 47.99875rem) {
  .header__body-right {
    width: 39rem;
    justify-content: flex-end;
  }
}
.header__body .button {
  font-size: clamp(0.75rem, 0.6862745098rem + 0.2614379085vw, 1rem);
  height: 3rem;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}
@media (width <= 47.99875rem) {
  .header__body .button {
    height: 2.125rem;
    line-height: 100%;
  }
}
.header__body .header__button--create {
  width: 10.5rem;
  margin-right: -0.625rem;
}
@media (width <= 63.99875rem) {
  .header__body .header__button--create {
    width: 7.5rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body .header__button--create {
    margin-right: 0.625rem;
  }
}
.header__body .header__button--sign {
  width: 6.25rem;
}
@media (width <= 63.99875rem) {
  .header__body .header__button--sign {
    width: 5rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body .header__icon {
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.625rem;
  }
}
@media (width <= 30.06125rem) {
  .header__body .header__icon {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.main .LearnWexp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8.25rem;
  background: linear-gradient(180deg, rgba(240, 242, 245, 0) 0.01%, #f0f2f5 100%);
}
@media (width <= 90.06125rem) {
  .main .LearnWexp {
    gap: 3.25rem;
  }
}
@media (width <= 63.99875rem) {
  .main .LearnWexp {
    margin-left: 0;
    flex-direction: column-reverse;
    text-align: center;
    gap: 3.4375rem;
  }
}
@media (width <= 30.06125rem) {
  .main .LearnWexp {
    gap: 1.5625rem;
  }
}
.main .LearnWexp__text {
  max-width: 30.5rem;
}
@media (width <= 90.06125rem) {
  .main .LearnWexp__text {
    max-width: 40%;
  }
}
@media (width <= 63.99875rem) {
  .main .LearnWexp__text {
    max-width: 100%;
  }
}
.main .LearnWexp__dispaly02 {
  font-size: 3.125rem;
  line-height: 1.2;
}
@media (width <= 63.99875rem) {
  .main .LearnWexp__dispaly02 {
    font-size: 2rem;
  }
}
.main .LearnWexp__header04 {
  font-size: 1.25rem;
  color: var(--color-gray-strong);
  margin: 2.5rem 0;
}
@media (width <= 90.06125rem) {
  .main .LearnWexp__header04 {
    font-size: 1.125rem;
  }
}
@media (width <= 63.99875rem) {
  .main .LearnWexp__header04 {
    font-size: 1.1rem;
    margin: 1.875rem 0;
  }
}
@media (width <= 47.99875rem) {
  .main .LearnWexp__header04 {
    font-size: 0.95rem;
  }
}
@media (width <= 30.06125rem) {
  .main .LearnWexp__header04 {
    margin: 1.25rem 0;
  }
}
.main .LearnWexp__button {
  width: 12.375rem;
  height: 3.5rem;
  letter-spacing: 0.01em;
}
@media (width <= 30.06125rem) {
  .main .LearnWexp__button {
    width: 11.25rem;
    height: 3rem;
    font-size: 1rem;
  }
}
@media (width <= 63.99875rem) {
  .main .LearnWexp__button {
    margin-bottom: 1.875rem;
  }
}
.main .LearnWexp__img {
  max-width: 100%;
  height: auto;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
}
@media (width <= 90.06125rem) {
  .main .LearnWexp__img {
    max-width: 50%;
  }
}
@media (width <= 63.99875rem) {
  .main .LearnWexp__img {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
@media (width <= 30.06125rem) {
  .main .LearnWexp__img {
    max-width: 90%;
    height: 12.5rem;
  }
}

.main .BrowseTCat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.main .BrowseTCat__categories {
  display: flex;
  flex-wrap: wrap;
  max-width: 82.5rem;
  height: auto;
  gap: 1.5rem;
  margin-block: 2.5rem;
  justify-content: center;
}
.main .BrowseTCat__choise {
  width: 19.5rem;
  height: 6.5rem;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.main .BrowseTCat__img {
  width: 4rem;
  height: 4rem;
  margin: 1.25rem;
}
.main .BrowseTCat__bodyLarge500 {
  margin-bottom: 0.5rem;
}
.main .BrowseTCat__bodyMedium400 {
  color: #6E7485;
}
.main .BrowseTCat__p {
  display: flex;
  color: var(--color-gray-strong);
  margin-bottom: 5rem;
}
.main .BrowseTCat__a {
  display: flex;
  color: var(--color-primary-strong);
  margin-left: 0.75rem;
}

.main .BestSelling {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F7FA;
}
.main .BestSelling__display02 {
  margin-top: 5rem;
}
.main .BestSelling__BestBlock {
  max-width: 82.5rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
  margin-top: 2.5rem;
  justify-content: center;
  margin-bottom: 20rem;
}
@media (width <= 47.99875rem) {
  .main .BestSelling__BestBlock {
    margin-bottom: 12.5rem;
  }
}
@media (width <= 30.06125rem) {
  .main .BestSelling__BestBlock {
    margin-bottom: 6.25rem;
  }
}
.main .BestSelling__course {
  width: 15.25rem;
  height: 20.8125rem;
  background-color: #fff;
}
.main .BestSelling__info {
  padding: 0.875rem;
  border-bottom: 0.0625rem solid #E9EAF0;
}
.main .BestSelling__label {
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  padding: 0.25rem 0.375rem;
  text-transform: uppercase;
  margin-bottom: 0.6875rem;
}
.main .BestSelling__cost {
  color: var(--color-primary-strong);
}
.main .BestSelling__describe {
  color: #1D2026;
}
.main .BestSelling__helper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.main .BestSelling__rate {
  display: flex;
  color: var(--color-gray-strong);
}
.main .BestSelling__number {
  display: flex;
  color: var(--color-gray-strong);
}
.main .BestSelling__students {
  color: #8C94A3;
}
.main .BestSelling__bottomPartCard {
  height: 1.25rem;
  margin: 0.875rem;
  display: flex;
  justify-content: space-between;
}
.main .BestSelling__star {
  margin: 0.125rem;
}
.main .BestSelling__numberStudents {
  display: flex;
  gap: 0.25rem;
}

.main .OurFeatureCorse {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  max-width: 92.5rem;
  height: auto;
  outline: 1px solid #E9EAF0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 30;
}
@media (width <= 63.99875rem) {
  .main .OurFeatureCorse {
    max-width: 43.75rem;
  }
}
@media (width <= 47.99875rem) {
  .main .OurFeatureCorse {
    max-width: 30rem;
    padding: 0;
  }
}
@media (width <= 30.06125rem) {
  .main .OurFeatureCorse {
    max-width: 19.375rem;
  }
}
.main .OurFeatureCorse__container {
  padding: 5rem;
}
@media (width <= 63.99875rem) {
  .main .OurFeatureCorse__container {
    padding: 1.875rem;
  }
}
@media (width <= 30.06125rem) {
  .main .OurFeatureCorse__container {
    padding: 0;
  }
}
@media (width <= 47.99875rem) {
  .main .OurFeatureCorse__container {
    padding: 0;
    padding-bottom: 17.5rem;
  }
  .main .OurFeatureCorse__container.is-active {
    margin-bottom: -31.25rem;
  }
}
.main .OurFeatureCorse__headingdefenition {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
@media (width <= 90.06125rem) {
  .main .OurFeatureCorse__headingdefenition {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (width <= 90.06125rem) {
  .main .OurFeatureCorse__heading02 {
    margin-bottom: 0.625rem;
  }
}
@media (width <= 30.06125rem) {
  .main .OurFeatureCorse__heading02 {
    margin-top: 1.25rem;
  }
}
.main .OurFeatureCorse__Vestibulum {
  max-width: 26.5rem;
  color: #4E5566;
}
.main .OurFeatureCorse__BlockCourses {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  gap: 1.5rem;
}
@media (max-width: 800px) {
  .main .OurFeatureCorse__BlockCourses {
    gap: 18.75rem;
  }
}
.main .OurFeatureCorse__corse {
  height: 11.75rem;
  max-width: 40.5rem;
  display: flex;
  border: 1px solid #E9EAF0;
}
@media (max-width: 800px) {
  .main .OurFeatureCorse__corse {
    flex-direction: column;
  }
}
@media (width <= 30.06125rem) {
  .main .OurFeatureCorse__corse {
    max-width: 19.375rem;
  }
}
@media (max-width: 800px) {
  .main .OurFeatureCorse__image {
    height: 17.5rem;
  }
}
@media (width <= 30.06125rem) {
  .main .OurFeatureCorse__image {
    max-width: 19.375rem;
  }
}
.main .OurFeatureCorse__topPart {
  width: 26.75rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #E9EAF0;
}
@media (width <= 30.06125rem) {
  .main .OurFeatureCorse__topPart {
    max-width: 19.375rem;
  }
}
.main .OurFeatureCorse__logo-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}
.main .OurFeatureCorse__bodyTiny500 {
  padding: 0.25rem 0.375rem;
  text-transform: uppercase;
}
.main .OurFeatureCorse__cost {
  display: flex;
}
.main .OurFeatureCorse__secondAmount {
  color: #A1A5B3;
  margin-left: 0.25rem;
}
.main .OurFeatureCorse__numberOFstudents {
  color: #8C94A3;
  margin-left: 0.25rem;
}
.main .OurFeatureCorse__describe {
  margin-bottom: 1.0625rem;
}
.main .OurFeatureCorse__Foto-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .OurFeatureCorse__name-photo {
  display: flex;
}
.main .OurFeatureCorse__BoyName {
  margin-left: 0.75rem;
  color: #4E5566;
}
.main .OurFeatureCorse__rating {
  display: flex;
}
.main .OurFeatureCorse__qualityRate {
  color: #1D2026;
  margin-left: 0.25rem;
}
.main .OurFeatureCorse__bottomPart {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 1.375rem;
  margin: 1.0625rem 1.375rem;
}
.main .OurFeatureCorse__usersPart {
  display: flex;
}
.main .OurFeatureCorse__numstudents {
  color: #4E5566;
  margin-left: 0.375rem;
}
.main .OurFeatureCorse__studnt {
  color: #8C94A3;
  margin-left: 0.25rem;
}
.main .OurFeatureCorse__BegginerPart {
  display: flex;
}
.main .OurFeatureCorse__beginner {
  color: #4E5566;
  margin-left: 0.25rem;
}
.main .OurFeatureCorse__timePart {
  display: flex;
}
.main .OurFeatureCorse__time {
  color: #4E5566;
  margin-left: 0.25rem;
}
@media (min-width: 1480px) {
  .main .OurFeatureCorse__closeBlock {
    display: none;
  }
  .main .OurFeatureCorse__burger-button {
    display: none;
  }
}
@media (max-width: 1479px) {
  .main .OurFeatureCorse {
    outline: none;
    width: 62.5rem;
  }
  .main .OurFeatureCorse__container:not(.is-active) {
    display: none;
  }
  .main .OurFeatureCorse__container.is-active {
    margin-bottom: -21.875rem;
    background-color: #f2f2f2;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .OurFeatureCorse__container.is-active {
    margin-bottom: -34.375rem;
  }
}
@media (max-width: 1479px) {
  .main .OurFeatureCorse__closeBlock {
    width: 2.8125rem;
    height: 2.8125rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0.3125rem;
    color: var(--color-light);
    background-color: var(--color-primary-strong);
    border: none;
    position: absolute;
    top: 1.25rem;
    left: 1.875rem;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .OurFeatureCorse__closeBlock {
    top: 0.3125rem;
    left: 0.3125rem;
  }
}
@media (max-width: 1479px) and (width <= 30.06125rem) {
  .main .OurFeatureCorse__closeBlock {
    top: 0.625rem;
    left: 0.8125rem;
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
@media (max-width: 1479px) {
  .main .OurFeatureCorse__line {
    width: 100%;
    height: 0.1875rem;
    border-radius: 1rem;
    background-color: currentColor;
    transition-duration: var(--transition-duration);
  }
  .main .OurFeatureCorse__line:first-child {
    rotate: 45deg;
    transform-origin: 0;
    translate: 0.3em -0.1em;
    transition-delay: 0.1s;
  }
}
@media (max-width: 1479px) and (width <= 30.06125rem) {
  .main .OurFeatureCorse__line:first-child {
    translate: 0.3em -0.15em;
  }
}
@media (max-width: 1479px) {
  .main .OurFeatureCorse__line:nth-child(2) {
    rotate: -45deg;
  }
  .main .OurFeatureCorse__line:last-child {
    width: 0;
  }
  .main .OurFeatureCorse__burger-button {
    font-size: 1.5625rem;
    font-weight: 500;
    padding: 0.9375rem;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 9.375rem;
  }
  .main .OurFeatureCorse__burger-button:not(.is-active) {
    display: none;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .OurFeatureCorse__burger-button {
    font-size: 1.25rem;
    bottom: 5rem;
  }
}
@media (max-width: 1479px) and (width <= 30.06125rem) {
  .main .OurFeatureCorse__burger-button {
    bottom: 0rem;
    font-size: 1.0625rem;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
  }
}

main .Recentlyadded {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-top: -15.625rem;
  margin-bottom: 5rem;
}
main .Recentlyadded__header {
  margin-top: 5.125rem;
  text-align: center;
}
main .Recentlyadded .Course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 82.5rem;
}
main .Recentlyadded .Course-container .BestSelling__course {
  height: 24.25rem;
  width: 19.5rem;
  outline: 1px solid #E9EAF0;
}
main .Recentlyadded__Browse-all {
  display: flex;
  align-items: center;
  padding-left: 0.9375rem;
  width: 14rem;
  height: 3rem;
}
main .Recentlyadded__Browse-all img {
  margin-left: 0.75rem;
}
@media (width <= 47.99875rem) {
  main .Recentlyadded__Browse-all {
    width: 12.5rem;
  }
}
@media (max-width: 1479px) {
  main .Recentlyadded {
    margin-top: 0;
  }
}

.main .BecomeInstructor {
  padding-bottom: 20rem;
  background-color: #F5F7FA;
  height: auto;
  display: flex;
  justify-content: center;
}
@media (width <= 90.06125rem) {
  .main .BecomeInstructor {
    padding-bottom: 13.75rem;
  }
}
@media (width <= 47.99875rem) {
  .main .BecomeInstructor {
    padding-bottom: 10rem;
  }
}
@media (width <= 30.06125rem) {
  .main .BecomeInstructor {
    padding-bottom: 5rem;
  }
}
.main .BecomeInstructor__container {
  display: flex;
  max-width: 82.5rem;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  gap: 1.5rem;
  margin-top: 5.0625rem;
}
.main .BecomeInstructor__container .BecomeInstructor-block {
  background: url("/images/BecomeAnInstructor/Instructor.png");
  background-color: #E35B30;
  width: 40.5rem;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 37.5rem 15.625rem;
  height: 16.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .BecomeInstructor__container .BecomeInstructor-block__textPart {
  max-width: 24.0625rem;
  color: #fff;
  text-align: left;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
}
.main .BecomeInstructor__container .BecomeInstructor-block__become {
  margin-bottom: 0.75rem;
}
.main .BecomeInstructor__container .BecomeInstructor-block__describe {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 157%;
  letter-spacing: -0.01em;
  margin-bottom: 1.5rem;
}
.main .BecomeInstructor__container .BecomeInstructor-block__start-teaching {
  width: 12.25rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 300%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: var(--color-primary-strong);
}
.main .BecomeInstructor__container .Your-teaching {
  width: 40.5rem;
  height: 16.875rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.main .BecomeInstructor__container .Your-teaching__your-teaching {
  margin-bottom: 1.6875rem;
}
.main .BecomeInstructor__container .Your-teaching__steps-apploing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
}
.main .BecomeInstructor__container .Your-teaching__step {
  display: flex;
  align-items: center;
}
.main .BecomeInstructor__container .Your-teaching__number {
  width: 3.25rem;
  height: 3.25rem;
  background-color: lightblue;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 124%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.main .BecomeInstructor__container .Your-teaching__describe-of-step {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #1D2026;
}
@media (max-width: 648px) {
  .main .BecomeInstructor__container .BecomeInstructor-block {
    background-image: none;
    justify-content: center;
    width: 28.125rem;
  }
  .main .BecomeInstructor__container .BecomeInstructor-block__textPart {
    text-align: center;
    padding: 0;
  }
  .main .BecomeInstructor__container .BecomeInstructor-block__start-teaching {
    align-self: center;
  }
  .main .BecomeInstructor__container .Your-teaching {
    width: 28.125rem;
    padding: 0;
    padding-top: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .main .BecomeInstructor__container {
    margin-bottom: 6.25rem;
  }
  .main .BecomeInstructor__container .BecomeInstructor-block {
    width: 18.75rem;
    height: 14.375rem;
  }
  .main .BecomeInstructor__container .BecomeInstructor-block__start-teaching {
    width: 9.375rem;
    height: 2.5rem;
    font-size: 0.8125rem;
  }
  .main .BecomeInstructor__container .BecomeInstructor-block__describe {
    font-size: 0.75rem;
  }
  .main .BecomeInstructor__container .Your-teaching {
    width: 18.75rem;
  }
  .main .BecomeInstructor__container .Your-teaching__steps-apploing {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 4);
  }
}

.main .TopInstructors {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 30;
  margin-bottom: -10.625rem;
}
@media (width <= 63.99875rem) {
  .main .TopInstructors {
    max-width: 43.75rem;
  }
}
@media (width <= 47.99875rem) {
  .main .TopInstructors {
    max-width: 30rem;
  }
}
@media (width <= 30.06125rem) {
  .main .TopInstructors {
    max-width: 19.375rem;
  }
}
.main .TopInstructors__container {
  width: 92.5rem;
  height: auto;
  background-color: #fff;
  outline: 1px solid #E9EAF0;
}
@media (width <= 30.06125rem) {
  .main .TopInstructors__container {
    max-width: 19.375rem;
  }
}
.main .TopInstructors__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .TopInstructors__heading {
  margin-top: 5rem;
}
.main .TopInstructors__top-instrucctors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
  margin: 2.5rem 5rem;
  height: auto;
}
.main .TopInstructors__top-instrucctors-container .BestSelling__course {
  height: 23.125rem;
  width: 15.25rem;
  outline: 1px solid #E9EAF0;
}
.main .TopInstructors__top-instrucctors-container .BestSelling__course .BestSelling__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .TopInstructors__top-instrucctors-container .BestSelling__course .BestSelling__info .BestSelling__describe {
  color: #1D2026;
  margin-bottom: 0.25rem;
}
.main .TopInstructors__top-instrucctors-container .BestSelling__course .BestSelling__info .BestSelling__job {
  color: #8C94A3;
}
.main .TopInstructors__We-have-more {
  margin-bottom: 5rem;
  color: #6E7485;
}
@media (min-width: 1480px) {
  .main .TopInstructors__closeBlock {
    display: none;
  }
  .main .TopInstructors__burger-button {
    display: none;
  }
}
@media (max-width: 1479px) {
  .main .TopInstructors {
    width: 62.5rem;
    margin-bottom: 6.25rem;
  }
  .main .TopInstructors__container:not(.is-active) {
    display: none;
  }
  .main .TopInstructors__container.is-active {
    background-color: #f2f2f2;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .TopInstructors__container.is-active {
    margin-bottom: -34.375rem;
  }
}
@media (max-width: 1479px) {
  .main .TopInstructors__top-instrucctors-container.is-active {
    justify-content: center;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .TopInstructors__heading {
    margin-top: 3.125rem;
    text-align: center;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .TopInstructors__We-have-more {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.9375rem;
  }
}
@media (max-width: 1479px) {
  .main .TopInstructors__closeBlock {
    width: 2.8125rem;
    height: 2.8125rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0.3125rem;
    color: var(--color-light);
    background-color: var(--color-primary-strong);
    border: none;
    position: absolute;
    top: 1.25rem;
    left: 1.875rem;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .TopInstructors__closeBlock {
    top: 0.3125rem;
    left: 0.3125rem;
  }
}
@media (max-width: 1479px) and (width <= 30.06125rem) {
  .main .TopInstructors__closeBlock {
    top: 0.625rem;
    left: 0.625rem;
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
@media (max-width: 1479px) {
  .main .TopInstructors__line {
    width: 100%;
    height: 0.1875rem;
    border-radius: 1rem;
    background-color: currentColor;
    transition-duration: var(--transition-duration);
  }
  .main .TopInstructors__line:first-child {
    rotate: 45deg;
    transform-origin: 0;
    translate: 0.3em -0.1em;
    transition-delay: 0.1s;
  }
}
@media (max-width: 1479px) and (width <= 30.06125rem) {
  .main .TopInstructors__line:first-child {
    translate: 0.3em -0.15em;
  }
}
@media (max-width: 1479px) {
  .main .TopInstructors__line:nth-child(2) {
    rotate: -45deg;
  }
  .main .TopInstructors__line:last-child {
    width: 0;
  }
  .main .TopInstructors__burger-button {
    font-size: 1.5625rem;
    font-weight: 500;
    padding: 0.9375rem 1.25rem;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 9.375rem;
  }
  .main .TopInstructors__burger-button:not(.is-active) {
    display: none;
  }
}
@media (max-width: 1479px) and (width <= 90.06125rem) {
  .main .TopInstructors__burger-button {
    bottom: 4.375rem;
  }
}
@media (max-width: 1479px) and (width <= 47.99875rem) {
  .main .TopInstructors__burger-button {
    font-size: 1.25rem;
  }
}
@media (max-width: 1479px) and (width <= 30.06125rem) {
  .main .TopInstructors__burger-button {
    bottom: 0rem;
    font-size: 1.0625rem;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
  }
}

.main .Companies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 6.25rem;
  margin-bottom: 5rem;
}
@media (width <= 30.06125rem) {
  .main .Companies {
    margin: 0 1.25rem;
  }
}
.main .Companies__container {
  display: flex;
  max-width: 82.5rem;
  justify-content: center;
}
.main .Companies__container .LogoBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main .Companies__container .LogoBlock__image-container {
  width: 12.5rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2rem 0 rgba(9, 26, 68, 0.07);
}
.main .Companies__txt {
  align-self: center;
  margin-right: 1.5rem;
}
.main .Companies__heading {
  color: #1D2026;
  margin-bottom: 1.5rem;
}
.main .Companies__paragraph {
  color: #6E7485;
}
@media (max-width: 1429px) {
  .main .Companies__container {
    flex-direction: column;
    text-align: center;
  }
  .main .Companies__container .LogoBlock {
    justify-content: center;
    margin-top: 2.5rem;
  }
}

.footer {
  background-color: var(--color-dark);
  color: #fff;
}
.footer__container {
  margin: 0rem 18.75rem 2.3125rem 18.75rem;
  padding-top: 6.25rem;
}
@media (width <= 90.06125rem) {
  .footer__container {
    margin: 0rem 12.5rem 2.3125rem 12.5rem;
  }
}
@media (width <= 63.99875rem) {
  .footer__container {
    margin: 0rem 6.25rem 2.3125rem 6.25rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__container {
    margin: 0rem 3.125rem 2.3125rem 3.125rem;
    padding-top: 3.125rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__container {
    margin-top: 3.125rem;
  }
}
.footer__container .start-learning-with {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6.25rem;
  border-bottom: 1px solid rgba(54, 59, 71, 0.5);
  flex-wrap: wrap;
}
.footer__container .start-learning-with__left {
  width: 33.5rem;
}
.footer__container .start-learning-with__main-text {
  margin-bottom: 2rem;
}
@media (width <= 47.99875rem) {
  .footer__container .start-learning-with__main-text {
    font-size: 1.875rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__container .start-learning-with__main-text {
    font-size: 1.5625rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__container .start-learning-with__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
  }
}
.footer__container .start-learning-with__Join-family-button {
  padding: 0rem 1.5rem;
  border: none;
  color: #fff;
  background-color: var(--color-primary-strong);
  margin-right: 1rem;
}
@media (width <= 47.99875rem) {
  .footer__container .start-learning-with__Join-family-button {
    padding: 0 0.9375rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__container .start-learning-with__Join-family-button {
    font-size: 0.875rem;
    margin: 0 auto;
  }
}
.footer__container .start-learning-with__Browse-all-button {
  padding: 0rem 1.5rem;
  border: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}
@media (width <= 47.99875rem) {
  .footer__container .start-learning-with__Browse-all-button {
    padding: 0 0.9375rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__container .start-learning-with__Browse-all-button {
    font-size: 0.875rem;
  }
}
.footer__container .start-learning-with__right {
  width: 40.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-around;
}
.footer__container .start-learning-with__head-line-number {
  text-align: justify;
  margin-bottom: 0.75rem;
}
@media (width <= 47.99875rem) {
  .footer__container .start-learning-with__head-line-number {
    font-size: 1.875rem;
  }
}
.footer__container .start-learning-with__describe-of-number {
  color: #B7BAC7;
  text-align: justify;
}
@media (width <= 47.99875rem) {
  .footer__container .start-learning-with__describe-of-number {
    font-size: 0.8125rem;
  }
}
.footer__container .logo-links-download {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgba(54, 59, 71, 0.5);
  flex-wrap: wrap;
}
.footer__container .logo-links-download__left {
  width: 17.375rem;
  display: flex;
  flex-direction: column;
}
@media (width <= 30.06125rem) {
  .footer__container .logo-links-download__left {
    width: 12.5rem;
  }
}
.footer__container .logo-links-download__logo-tutor {
  width: 10.9375rem;
  height: 2.875rem;
}
.footer__container .logo-links-download__logosBlock {
  display: flex;
  gap: 0.75rem;
}
.footer__container .logo-links-download__paragraph-left-part {
  margin-top: 1.25rem;
  margin-bottom: 1.625rem;
  color: #8C94A3;
}
.footer__container .logo-links-download__logo-Company {
  display: flex;
  width: 2.875rem;
  height: 2.875rem;
  background-color: rgba(54, 59, 71, 0.4);
  justify-content: center;
  align-items: center;
}
.footer__container .logo-links-download__logo-Company .logo-img {
  width: 1.125rem;
  height: 1.125rem;
}
.footer__container .logo-links-download__middle {
  display: flex;
  width: auto;
  gap: 3.9375rem;
}
@media (width <= 47.99875rem) {
  .footer__container .logo-links-download__middle {
    flex-direction: column;
    gap: 1.875rem;
  }
}
.footer__container .logo-links-download__list-item {
  margin-top: 0.375rem;
  color: #8C94A3;
}
.footer__container .logo-links-download__list-item:first-child {
  margin-bottom: 1.625rem;
  color: #fff;
  text-transform: uppercase;
}
@media (width <= 47.99875rem) {
  .footer__container .logo-links-download__list-item:first-child {
    margin-bottom: 1.0625rem;
  }
}
.footer__container .logo-links-download__right {
  display: flex;
  flex-direction: column;
}
.footer__container .logo-links-download__Download-our-app {
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.footer__container .logo-links-download__download {
  display: flex;
  width: 10.1875rem;
  height: 3.625rem;
  background-color: rgba(54, 59, 71, 0.4);
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem;
}
.footer__container .logo-links-download__download .cpmpany_logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.875rem;
}
.footer__container .logo-links-download__download-now-p {
  margin-bottom: 0.125rem;
  color: #B7BAC7;
}
.footer__container .logo-links-download__App-Google {
  color: #fff;
}
.footer .date-designedBy {
  text-align: center;
  padding: 2.3125rem 0;
  color: #8C94A3;
}
.footer .date-designedBy #Yaroslay {
  color: #fff;
}
@media (width <= 47.99875rem) {
  .footer .date-designedBy {
    padding: 1.5625rem 0;
  }
}
@media (max-width: 1783px) {
  .footer__container .start-learning-with {
    justify-content: center;
    padding-bottom: 2.5rem;
  }
  .footer__container .start-learning-with__right {
    margin-top: 3.125rem;
  }
  .footer__container .start-learning-with__buttons {
    justify-self: center;
  }
  .footer__container .start-learning-with__main-text {
    text-align: center;
  }
}
@media (max-width: 1659px) {
  .footer__container .logo-links-download {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .footer__container .logo-links-download__left {
    align-items: center;
    margin-bottom: 2.5rem;
  }
  .footer__container .logo-links-download__logo-tutor {
    margin-right: 0.9375rem;
  }
  .footer__container .logo-links-download__middle {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 641px) {
  .footer__container .start-learning-with__right {
    flex-direction: column;
    text-align: center;
  }
  .footer__container .start-learning-with__head-line-number {
    text-align: center;
  }
  .footer__container .start-learning-with__describe-of-number {
    text-align: center;
  }
}