@use '../helpers/' as *;

.footer{
    background-color: var(--color-dark);
    color: #fff;
    &__container{
        margin: rem(0) rem(300) rem(37) rem(300);
        padding-top: rem(100);
        @include laptop{
            margin: rem(0) rem(200) rem(37) rem(200);
        }
        @include tablet{
            margin: rem(0) rem(100) rem(37) rem(100);
        }
        @include mobile{
            margin: rem(0) rem(50) rem(37) rem(50);
            padding-top: rem(50);
        }
        @include mobile-s{
            margin-top: rem(50);
        }
        .start-learning-with{
            display: flex;
            justify-content: space-between;
            padding-bottom: rem(100);
            border-bottom: 1px solid rgba(54, 59, 71, 0.5);
            flex-wrap: wrap;
            &__left{
                width: rem(536);
            }
            &__main-text{
                margin-bottom: rem(32);
                @include mobile{
                    font-size: rem(30);
                }
                @include mobile-s{
                    font-size: rem(25);
                }
            }
            &__buttons{
                @include mobile-s{
                    display: flex;
                    flex-direction: column;
                    gap: rem(15);
                }
            }
            &__Join-family-button{
                padding: rem(0) rem(24);
                border: none;
                color: #fff;
                background-color: var(--color-primary-strong);
                margin-right: rem(16);
                @include mobile{
                    padding: 0 rem(15);
                }
                @include mobile-s{
                    font-size: rem(14);
                    margin: 0 auto;
                }
            }
            &__Browse-all-button{
                padding: rem(0) rem(24);
                border: none;
                color: #fff;
                background-color: rgba(255, 255, 255, 0.05);
                @include mobile{
                    padding: 0 rem(15);
                }
                @include mobile-s{
                    font-size: rem(14);
                }
            }
            &__right{
                width: rem(648);
                display: flex;
                gap: rem(24);
                align-items: center;
                justify-content: space-around;
            }
            &__head-line-number{
                text-align: justify;
                margin-bottom: rem(12);
                @include mobile{
                    font-size: rem(30);
                }
            }
            &__describe-of-number{
                color: #B7BAC7;
                text-align: justify;
                @include mobile{
                    font-size: rem(13);
                }
            }
        }
        .logo-links-download{
            display: flex;
            justify-content: space-between;
            margin-top: rem(80);
            padding-bottom: rem(80);
            border-bottom: 1px solid rgba(54, 59, 71, 0.5);
            flex-wrap: wrap;
            &__left{
                width: rem(278);
                display: flex;
                flex-direction: column;
                @include mobile-s{
                    width: rem(200);
                }
            }
            &__logo-tutor{
                width: rem(175);
                height: rem(46);
            }
            &__logosBlock{
                display: flex;
                gap: rem(12);
            }
            &__paragraph-left-part{
                margin-top: rem(20);
                margin-bottom: rem(26);
                color: #8C94A3;
            }
            &__logo-Company{
                display: flex;
                width: rem(46);
                height: rem(46);
                background-color: rgba(54, 59, 71, 0.4);
                justify-content: center;
                align-items: center;
                .logo-img{
                    width: rem(18);
                    height: rem(18);
                }
            }

            &__middle{
                display: flex;
                width: auto;
                gap: rem(63);
                @include mobile{
                    flex-direction: column;
                    gap: rem(30);
                }
            }
            &__list-item{
                margin-top: rem(6);
                color: #8C94A3;
            }
            &__list-item:first-child{
                margin-bottom: rem(26);
                color: #fff;
                text-transform: uppercase;
                @include mobile{
                    margin-bottom: rem(17);
                }
            }

            &__right{
                display: flex;
                flex-direction: column;
            }
            &__Download-our-app{
                margin-bottom: rem(20);
                text-transform: uppercase;
            }
            &__download{
                display: flex;
                width: rem(163);
                height: rem(58);
                background-color: rgba(54, 59, 71, 0.4);
                align-items: center;
                justify-content: center;
                margin-bottom: rem(12);
                .cpmpany_logo{
                    width: rem(32);
                    height: rem(32);
                    margin-right: rem(14);
                }
            }
            &__download-now-p{
                margin-bottom: rem(2);
                color: #B7BAC7;
            }
            &__App-Google{
                color: #fff;
            }
        }
    }
    .date-designedBy{
        text-align: center;
        padding: rem(37) 0;
        color: #8C94A3;
        #Yaroslay{
            color: #fff;
        }
        @include mobile{
            padding: rem(25) 0;
        }
    }

    @media (max-width: 1783px) {
        &__container{
            .start-learning-with{
                justify-content: center;
                padding-bottom: rem(40);

                &__right{
                    margin-top: rem(50);
                }
                &__buttons{
                    justify-self: center;
                }
                &__main-text{
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: 1659px){
        &__container{
            .logo-links-download{
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: rem(50);
                padding-bottom: rem(50);
                &__left{
                    align-items: center;
                    margin-bottom: rem(40);
                }
                &__logo-tutor{
                    margin-right: rem(15);
                }
                &__middle{
                    margin-bottom: rem(40);
                }
            }
        }
    }
    @media (max-width: 641px) {
        &__container{
            .start-learning-with{
                &__right{
                    flex-direction: column;
                    text-align: center;
                }
                &__head-line-number{
                    text-align: center;
                }
                &__describe-of-number{
                    text-align: center;
                }
            }
        }
    }
}