@use '../helpers/' as *;

.header{
    &__links{
        background-color: var(--color-dark);
        z-index: 20;
        .header__overlay{
            @include mobile-above{
                display: contents;
            }
            @include mobile{
                position: fixed;
                inset: 0 60% 0 0;
                padding: 1rem;
                z-index: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: rem(60);
                row-gap: 3rem;
                background-color: var(--color-dark);
                transition-delay: var(--transition-duration);
                .header__menu{
                    flex-direction: column;
                    align-items: flex-start;
                    .header__menu-list{
                        align-items: flex-start;
                        flex-direction: column;
                        .header__menu-item{
                            padding-block: rem(0);
                        }
                    }
                    .header__menu-dropdowns{
                        align-self: flex-start;
                        margin-left: rem(13);
                        margin-top: rem(15);
                        .header__menu-option{
                            margin-bottom: rem(20);
                        }
                    }
                }

                &:not(.is-active){
                    @include hide;

                    translate: 100%;
                }
            }
        }
        .header__menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            padding-inline: rem(32);
            // padding-block: rem(16);
            // height: rem(52);
            align-items: center;
            &-list{
                display: flex;
            }
            &-item{
                padding-inline: rem(20);
                display: inline-block;
            } 
            &-link{
                padding-block: rem(16);
                letter-spacing: -0.01em;
                line-height: 143%;
                color: var(--color-gray-medium);
                transition-delay: var(--transition-duration);
                &--current{ 
                    border-top: rem(2) solid var(--color-primary-strong);
                    color: var(--color-light);
                }
            }
            &-link:hover{
                color: var(--color-light);
            }

            &-dropdowns{
                .header__menu-option{
                    background-color: inherit;
                    border: none;
                    outline: 0;
                    color: var(--color-gray-medium);
                }
                .header__menu-option option{
                    color: var(--color-gray-strong);
                    font-weight: 400;
                    line-height: 157%;
                    letter-spacing: -0.01em;
                }
                .header__menu-option:first-child{
                    margin-inline-end: rem(24);
                }
            }

        }
    }

    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: rem(32);
        margin-block: rem(24);
        @include mobile{
            margin-block: rem(10);
        }
        @include mobile-s{
        }

        &-left{
            display: flex;
            column-gap: rem(50);
            @include tablet{
                column-gap: rem(30);
            }
            @include mobile{
                column-gap: rem(15);
            }
            @include mobile-s{
                @include hide;
                display: none;
            }

            .header__input{
                width: rem(424);
                height: rem(48);
                padding-left: rem(42);
                border: 1px solid #E9EAF0;

                @include mobile{
                    height: rem(34);
                    width: rem(384);
                }
                @include mobile{
                    display: none;
                }
            }
            .header__input:hover{
                border: 3px solid #ffddd1;
            }
            .header__img-inner{
                position: relative;
                right: 66%;
                @include mobile{
                    width: rem(20);
                    height: rem(20);
                    top: rem(7);
                }
                @include mobile{
                    display: none;
                }
            }

        }

        &-right{
            display: flex;
            justify-content: space-between;
            width: rem(424);
            @include mobile{
                width: rem(624);
                justify-content: flex-end;
            }
            @include mobile-s{
                // margin-left: rem(30);
            }
        }

        .button{
            @include fluid-text(16, 12);
            height: rem(48);
            letter-spacing: -0.01em;
            text-transform: capitalize;
            @include mobile{
                height: rem(34);
                line-height: 100%;
            }
        }

        .header__button--create{
            width: rem(168);
            margin-right: rem(-10);
            @include tablet{
                width: rem(120);
            }
            @include mobile{
                margin-right: rem(10);
            }
        }
        .header__button--sign{
            width: rem(100);
            @include tablet{
                width: rem(80);
            }
        }

        .header__icon{
            @include mobile{
                align-self: center;
                width: rem(20);
                height: rem(20);
                margin-right: rem(10);
            }
            @include mobile-s{
                width: rem(18);
                height: rem(18);
            }
        }
    }
    @media (max-width: 883px) {
        &__body{
            &-left{
                column-gap: rem(15);
            }
        }
    }
}