@use '../helpers/' as *;

.main{
    .LearnWexp{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: linear-gradient(180deg, rgba(240, 242, 245, 0) 0.01%, #f0f2f5 100%);
        @include mobile-s{
        }
        &__text{
            width: rem(648);
            @include laptop{
                margin-left: rem(80);
            }
            @include tablet{
                width: rem(450);
            }
            @include mobile-s{
                width: rem(250);
            }
        }
        &__dispaly02{
            padding-block-end: rem(40);
            @include tablet{
                font-size: rem(42);
                padding-block-end: rem(27);
            }
            @include mobile{
                font-size: rem(35);
                padding-block-end: rem(15);
            }
            @include mobile-s{
                font-size: rem(22);
                padding-block-end: rem(10);
            }
        }
        &__header04{
            width: rem(500);
            padding-block-end: rem(40);
            color: var(--color-gray-strong);
            @include tablet{
                width: rem(320);
                font-size: rem(17);
            }
            @include mobile{
                padding-block-end: rem(20);
                font-size: rem(15);
            }
            @include mobile-s{
                font-size: rem(12);
                width: rem(200);
            }
        }
        &__button{
            width: rem(198);
            height: rem(56);
            font-weight: 600;
            @include fluid-text(18, 12);
            letter-spacing: 0.01em;
            @include tablet{
                font-size: rem(17);
            }
            @include mobile{
                width: rem(160);
                height: rem(45);
                font-size: rem(16);
            }
            @include mobile-s{
                width: rem(130);
                height: rem(36);
                font-size: rem(13);
            }
        }
        &__img{
            @include tablet{
                width: rem(550);
            }
            @include mobile{
                width: rem(400);
            }
            @include mobile-s{
                width: rem(250);
            }
        }
    }
}