@use 'helpers' as *;

body{
    @include fluid-text(18, 14);
    
    font-family: var(--font-family-base);
    // color: var(--color-gray-strong);
    letter-spacing: -0.01em;
    user-select: none
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
// h1, .h1,
// h2, .h2,
// h3, .h3,
// h4, .h4,
// h5, .h5,
// h6, .h6 {
//     color: var(--color-gray-light);
// }

h1, .h1, .dispaly02{
    @include fluid-text(72, 32);

    line-height: 1.03;
    letter-spacing: -0.02em;
}

h2, .h2{
    @include fluid-text(40,25);

    line-height: 1.2;
}

h3, .h3, .heading03{
    @include fluid-text(32, 20);
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.01em;
}
.heading02{
    font-weight: 600;
    font-size: rem(40);
    line-height: 120%;
    letter-spacing: -0.01em;
}
h4, .h4, .heading04{
    @include fluid-text(24, 16);

    line-height: 1.33;
}

.bodyLarge400{
    font-weight: 400;
    font-size: rem(16);
    line-height: 150%;
}

.bodyLarge500{
    font-weight: 500;
    @include fluid-text(16, 14);
    line-height: 137%;
    color: #000;
}

.bodyMedium400{
    font-weight: 400;
    font-size: rem(14);
    line-height: 157%;
    letter-spacing: -0.01em;
    color: #000;
}
.bodyMedium500{
    font-weight: 500;
    font-size: rem(14);
    line-height: 143%;
    letter-spacing: -0.01em;
}
.bodyTiny400{
    font-weight: 400;
    font-size: rem(10);
    line-height: 100%;
}
.bodyTiny500{
    font-weight: 500;
    font-size: rem(10);
    line-height: 120%;
}
.bodyLarge600{
    font-weight: 600;
    font-size: rem(16);
    line-height: 137%;
}
.bodyXL{
    font-weight: 400;
    font-size: rem(18);
    line-height: 133%;
    letter-spacing: -0.01em;
}
.buttonMedium{
    font-weight: 600;
    font-size: rem(16);
    line-height: 300%;
    letter-spacing: -0.01em;
    text-transform: capitalize;
}

a, 
button,
label,
input,
textarea,
select,
svg *{
    transition-duration: var(--transition-duration);
}

a{
    color: inherit;

    @include hover{
        color: var(--color-primary-strong);
    }

    &[class]{
        text-decoration: none;
    }
}

:focus-visible{
    outline: rem(2) dashed var(--color-light);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

a,
button{
    &[aria-label]{
        position: relative;

        &::before{
            @include abs-center;
            @include square(rem(44));

            content: '';
        }
    }
}